git *.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
build/*
build*
*build*

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Nsight reports
*.sqlite
*.nsys-rep
*.qdstrm
*.ncu-rep

test/data/test_vec.h5
